body{
    font-family: 'Courier New', Courier, monospace;
    /*background-color: #FFC0CB;*/
    background-image: url(../img/IMG_20200913_131431.jpg);
    background-size:contain;
    
}

p{
    font-size: 14px;
    font-weight: lighter;
    text-align:justify;
    line-height: 30px;
    opacity: 1.0;
    color: #F0FFFF;
}

h2{
    font-style: italic;
    text-align: center;
    color: #F0FFFF;
}

h1{
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: #F0FFFF;
}

ul#lista li{
    text-align: center;
}