*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
    font-family: Roboto;
}

p{
    font-size: 16px;
}

.desconto{
    width: 100%;
    height: 38px;
    left: 0px;
    top: 0px;
    background-color: #1CD1B0;
    color: #000000;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);        
    padding: 10px;
    position: fixed;
    font-size: 15px;
    z-index: 2;
}

.titulo{
    width: 100%;
    height: 101px;
    left: 0px;
    top: 38px;
    background: #00669F;
    color: #000000;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    position: fixed;
    font-size: 40px;
    padding: 28px;
    z-index: 2;
}

.footer{
    width: 100%;
    height: 51px;
    left: 0px;
    top: 972px;
    background: #00669F;
    color: #FFF9F9;;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    padding: 16px;
}

.card-pai{
    width: 374px;
    height: 597.01px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.card-conteudo{
    width: 374px;
    height: 379.2px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 16px;
    
}

.card-texto{
    padding: 152.3px 36.67px 99.37px 36px;
    text-align: center;
    font-size: 16px;
    align-content: center;
}

.card-titulo{
    align-self: center;
    font-weight: 400;
    font-size: 40px;
    padding: 80px;
    text-align: center;
}

.card-batman{
    background-image: url(/img/background-batman.png);
    width: 374px;
    height: 218.94px
}
.card-arlequina{
    background-image:url(/img/background-arlequina.png);
    width: 374px;
    height: 218.94px;
}

.card-perfil-batman{
    position: absolute;
    left: 100px;
    top: 130px;
    border-radius: 100%;
}

.card-perfil-arlequina{
    position: absolute;
    left: 100px;
    top: 750px;
}