@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

body{
    background-color: grey;
    background-image: url(../img/Del.webp);
    /*Imagem de fundo, usar background-image*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Roboto Flex', sans-serif;
    color:azure;
}